---
import Social from "./Social.astro";

const platform = "github";
const username = "withastro";
const linkedIn = "linkedin";
---

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
  <Social platform="twitter" username="nationalgeographic" />
  <Social platform="youtube" username="nationalgeographic" />
</footer>
